

body{
  height: 100vh;
  background: url('https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg');
background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(179, 179, 179, 0.708);
  border-radius: 10px;
  padding: 30px;
  
}

#login-input{
  width: 300px ;
  height: 40px;
 
}

.input-box{
  display: flex;
  justify-content: center;
  align-items: center;
}