.container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.login-from{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20%;
}


.hide-questions{
  display: none;
}

.hide{
  display: none;
}

#main {
  display: flex;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 50px;
}

img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.capital-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.option:hover {
  background-color: #f0f0f0;
}

.option.correct {
  background-color: #4caf50; /* Green */
  color: white;
}

.option.incorrect {
  background-color: #f44336; /* Red */
  color: white;
}


.disabled {
  pointer-events: none;
}